{% extends 'base.html.twig' %}

{% block title %}
    Oops ! An error occured !
{% endblock %}

{% block body %}
    <div id="wrapper">
        <div id="container">
            Oops ! An error occured ,Pas de droits d'accés, Veuillez connecter en tant que Administrateur !
        </div>
    </div>
{% endblock %}