<!-- Fixed navbar -->
<nav class="navbar navbar-inverse navbar-fixed-top">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar"
                    aria-expanded="false" aria-controls="navbar">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="#">Molecules IT <span class="glyphicon glyphicon-tint"></span></a>
        </div>
        <div id="navbar" class="navbar-collapse collapse">
            <ul class="nav navbar-nav">
                <li class="active"><a href="{{ path('chemicals_index') }}">Home</a></li>
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true"
                       aria-expanded="false">Chemicals<span class="caret"></span></a>
                    <ul class="dropdown-menu">
                        <!-- Ajouter l'appel vers la page listant les éléments, puis les autres -->
                        <li><a href="{{ path('chemicals_elements_list') }}">Elements</a></li>
                        <li><a href="{{ path('chemicals_atoms_listA') }}">Atoms</a></li>
                        <li><a href="{{ path('chemicals_molecules_listM') }}">Molecules</a></li>
                        </li>
                    </ul>
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true"
                       aria-expanded="false">Data providers<span class="caret"></span></a>
                    <ul class="dropdown-menu">
                        <li><a href="{{ path('chemicals_sample_elements') }}">Chemical elements creation</a></li>
                    </ul>
                </li>
            </ul>
            <br>
            <div>
                {% if is_granted("IS_AUTHENTICATED_REMEMBERED") %}
                    {{ 'layout.logged_in_as'|trans({'%username%': app.user.username}, 'FOSUserBundle') }} |
                    <a href="{{ path('fos_user_security_logout') }}">
                        {{ 'layout.logout'|trans({}, 'FOSUserBundle') }}
                    </a>
                {% else %}
                    <a href="{{ path ('fos_user_security_login') }} " class=" btn btn-success pull-right" role="button">Connexion</a>

                {% endif %}
            </div>

        </div><!--/.nav-collapse -->
    </div>
</nav>