{% extends 'base.html.twig'%}

{% block body %}
    {% form_theme form 'bootstrap_3_layout.html.twig' %}
    <h2> Saisie un Atome </h2>

    <ol class="breadcrumb">
        <li><a href="{{ path('chemicals_atoms_listA')}}">liste des atomes </a></li>
        <li class="active"> Saisie un Atome</li>
    </ol>

    {{ form_start(form) }}
    {{ form_widget(form) }}
    <br>
    <button type="submit" class="btn btn-success">Enregistrer</button>

    {#<div><input type="submit" id="form_btttn" value="Enregistrer"></div>#}

    {{ form_end(form) }}

{% endblock %}