{% extends 'base.html.twig'%}

{% block body %}
    {% form_theme form 'bootstrap_3_layout.html.twig' %}
    <h2> Saisie un Element</h2>
    <ol class="breadcrumb">
        <li><a href="{{ path('chemicals_elements_list')}}">liste des éléments</a></li>
        <li class="active"> Saisie un Element</li>
    </ol>
    {{ form_start(form) }}

    {{ form_widget(form) }}
    <br>
    <button type="submit" class="btn btn-success">Enregistrer</button>

    {{ form_end(form) }}

{% endblock %}
