{% extends 'base.html.twig' %}

{% block title %}Atoms{%endblock %}

{% block body %}


    <div id="wrapper">
        <div id="container">
            <div id="welcome">
                <h1>Atoms</h1>

                <a href="{{ path('chemicals_atoms_add') }}" title="Ajouter un Atom" class="btn btn-success"> Ajouter Atoms </a><br>

            </div>
            <hr />
            {% if atoms is not empty %}
                <div class="alert alert-info" role="alert">
                    <p>Number of atoms in database : <span class="badge">{{ atoms | length }}</span></p>

                </div>

                <table class="table table-striped">
                    <thead>

                    <tr>
                        <th>Name</th>
                        <th>Formula</th>
                        <th>Action</th>

                    </tr>

                    </thead>
                    <tbody>
                    {% for atom in atoms %}
                        <tr>
                            <td><a href="{{ path('chemicals_atoms_see', {'id': atom.id}) }}">{{ atom.name }}</a></td>
                            <td>{{ atom.formula }}</td>
                            <td><a href="{{ path('chemicals_atoms_edit',{'id': atom.id}) }}" class="btn btn-info">Editer</a>
                            <td><a href="{{ path('chemicals_atoms_delete', {'id': atom.id}) }}" class="btn btn-danger">Supprimer</a>
                        </tr>
                    {% endfor %}

                    </tbody>
                </table>
            {% else %}
                <p>There is no atoms in the database.</p>
            {% endif %}
        </div>
    </div>
    <div class="navigation">
        {{ knp_pagination_render(atoms) }}
    </div>
{% endblock %}