{% extends 'base.html.twig'%}
{% block body %}
    {% form_theme form 'bootstrap_3_layout.html.twig' %}
    <h2> Modifier l'élement </h2>

    {{ form_start(form) }}
    {{ form_widget(form) }}
    <hr />
    <button type="submit" class="btn btn-success">Enregistrer</button>

    {{ form_end(form) }}

{% endblock %}