{% extends 'base.html.twig' %}

{% block title %}Elements{%endblock %}

{% block body %}


    <div id="wrapper">
        <div id="container">
            <div id="welcome">
                <h1>Elements</h1>

                <a href="{{ path('chemicals_elements_add') }}" title="Ajouter un élement" class="btn btn-success"> Ajouter un élement </a><br>
            </div>
            <hr />
            {% if elements is not empty %}
                <div class="alert alert-info" role="alert">
                    <p>Number of elements in database : <span class="badge">{{ elements | length }}</span></p>
                </div>

            <table class="table table-striped">
                <thead>

                    <tr>
                        <th>Name</th>
                        <th>Formula</th>
                        <th>Action</th>

                    </tr>

                </thead>
                <tbody>
                {% for element in elements %}
                    <tr>
                        <td><a href="{{ path('chemicals_elements_see', {'id': element.id}) }}">{{ element.name }}</a></td>
                        <td>{{ element.formula }}</td>

                        <td><a href="{{ path('chemicals_elements_edit',{'id': element.id}) }}" class="btn btn-info">Editer</a>
                        <td><a href="{{ path('chemicals_elements_delete', {'id': element.id}) }}" class="btn btn-danger">Supprimer</a>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
            {% else %}
                <p>There is no element in the database.</p>
            {% endif %}
        </div>
    </div>
    <div class="navigation">
        {{ knp_pagination_render(elements) }}
    </div>
{% endblock %}