{% extends 'base.html.twig' %}

{% block title %}Molecules{%endblock %}

{% block body %}


    <div id="wrapper">
        <div id="container">
            <div id="welcome">
                <h1>Molecules</h1>

                <a href=" {{ path('chemicals_molecules_add') }}" title="Ajouter une molecule" class="btn btn-success"> Ajouter des Molecules </a><br>
            </div>
            <hr />
            {% if molecules is not empty %}
                <div class="alert alert-info" role="alert">
                    <p>Number of Molecules in database : <span class="badge">{{ molecules | length }}</span></p>

                </div>

                <table class="table table-striped">
                    <thead>

                    <tr>
                        <th>Name</th>
                        <th>Formula</th>
                        <th>Action</th>

                    </tr>

                    </thead>
                    <tbody>
                    {% for molecule in molecules %}
                        <tr>
                            <td><a href="{{ path('chemicals_molecules_see', {'id': molecule.id}) }}">{{ molecule.name }}</a></td>
                            <td>{{ molecule.formula }}</td>

                            <td><a href="{{ path('chemicals_molecules_edit',{'id': molecule.id}) }}" class="btn btn-info">Editer</a>
                            <td><a href="{{ path('chemicals_molecules_delete', {'id': molecule.id}) }}" class="btn btn-danger">Supprimer</a>

                        </tr>
                    {% endfor %}

                    </tbody>
                </table>
            {% else %}
                <p>There is no molecules in the database.</p>
            {% endif %}
        </div>
    </div>
    <div class="navigation">
        {{ knp_pagination_render(molecules) }}
    </div>
{% endblock %}